[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "janus-extensions/Align"]
	path = janus-extensions/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "janus-extensions/YouCompleteMe"]
	path = janus-extensions/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "janus-extensions/ag"]
	path = janus-extensions/ag
	url = https://github.com/rking/ag.vim.git
